<%- include("./partials/header") %> <%- include("./partials/nav") %>

<div class="feedBox">
  <div class="feedSideBar">
    <div class="d-flex flex-column justify-content-around ps-4 pt-4 pb-4">
      <a href="/home"><img src="/images/homeIcon.svg" alt="" />&nbsp; Home</a>
      <a href="/profile"><i class="ri-bear-smile-line"></i> &nbsp; Profile</a>
      <a href=""><i class="ri-settings-line"></i> &nbsp; Setting</a>
    </div>
    <div>
      <span class="createPost"
        ><i class="ri-gallery-upload-fill"></i>&nbsp; Upload</span
      >
    </div>
    <div class="sideOptions-Div3">
      <h6 class="ms-4 mt-2"><a class="text-decoration-none text-dark" href="/signout">Log Out</a></h6>
      <div class="">
        <i class="ms-4 mt-1 ri-google-play-line"></i
        ><i class="ms-2 mt-1 ri-apple-fill"></i>
      </div>
      <div class="sideCardFooter ps-4">
        <ul class="d-flex gap-3 list-unstyled">
          <li>Terms</li>
          <li>Privacy</li>
          <li>FAQ</li>
        </ul>
        <p class="">
          Made with <img src="/images/like_blue.svg" alt="" /> by <br />
          <strong>ASHISH CHAKRAVARTI</strong>
        </p>
        <p class="">&copy 2023 Peeps Enterprises, Inc.</p>
        <div class=""></div>
      </div>
    </div>
  </div>
  <div class="feedBox-content">
    <div class="uploadDiv">
      <span
        ><p>Upload Picture</p>
        <i class="fs-3 mb-3 ri-close-circle-line closeUpload"></i
      ></span>
      <form action="/savePost" method="post" enctype="multipart/form-data">
        <i class="ri-upload-cloud-fill fs-1"></i>
        <input class="form-control" type="file" name="media">
        <input class="form-control mt-3" type="text" name="caption" placeholder="Caption">
        <button class="">Upload</button>
      </form>
    </div>
    <div class="feedBox-content-left">

      <% allPost.forEach((post) => { %>
  <div class="postBox">
    <div class="post-top">
      <img src="/images/userImages/<%= post.user.avatar %>" alt="" />
      <span>
        <h6><%= post.user.username %><br /> <span class="text-secondary"><%= post.createdAt.toLocaleDateString() %></span></h6>
      </span>
    </div>
    <div class="post-imgBox">
      <img src="/images/posts/<%= post.media %>" alt="">
    </div>
    <span>
      <i class="ri-heart-3-line"></i><p>5k</p><i class="ri-chat-3-line"></i><p>3421</p>
    </span>
    <p><span><strong><%= post.user.username %></strong></span> &nbsp; <%= post.caption %></p>
    <form>
      <textarea class="form-control" rows="1" placeholder="Add a comment..."></textarea><button>Post</button>
    </form>
  </div>
<% }); %>



      
    </div>
    <div class="feedBox-content-right">
      <div class="userInfoDiv">
        <div class="userInfoDiv-left">
          <img src="/images/userImages/<%=user.avatar%>" alt="">
        </div>
        <div class="userInfoDiv-right">
          <div class="userInfoDiv-right-top d-flex">
            <span>
              <h5><%=user.username%></h5>
              <h6><%=user.username%></h6>
            </span>
            <span class="postNumber ms-4">
              <h5>Posts</h5>
              <h6><%= user.posts.length %></h6>
            </span>
          </div>
          <div class="userInfoDiv-right-bottom">
           <p>Empowering individuals to forge their career 🏹</p>
           <button><a href="/profile">Profile</a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("./partials/footer") %>
