<%- include("./partials/header") %> <%- include("./partials/nav") %>

<div class="feedBox">
  <div class="feedSideBar">
    <div class="d-flex flex-column justify-content-around ps-4 pt-4 pb-4">
      <a href="/home"><img src="/images/homeIcon.svg" alt="" />&nbsp; Home</a>
      <a href="/profile"><i class="ri-bear-smile-line"></i> &nbsp; Profile</a>
       <a  class="discoverIconFeedBar" href="/discover"> <i class="ri-planet-line"></i> &nbsp; Discover</a>
      
    </div>
    <div class="d-flex flex-column">
      <span class="createPost"
        ><i class="ri-gallery-upload-fill"></i>&nbsp; Upload</span
      >
      <a class="settingIconFeedBar" href="/setting"><i class="ri-settings-line"></i> &nbsp; Setting</a>
     
    </div>
    <div class="sideOptions-Div3">
      <h6 class="ms-4 mt-2">
        <a class="text-decoration-none text-dark" href="/signout">Log Out</a>
      </h6>
      <div class="">
        <i class="ms-4 mt-1 ri-google-play-line"></i
        ><i class="ms-2 mt-1 ri-apple-fill"></i>
      </div>
      <div class="sideCardFooter ps-4">
        <ul class="d-flex gap-3 list-unstyled">
          <li>Terms</li>
          <li>Privacy</li>
          <li>FAQ</li>
        </ul>
        <p class="">
          Made with <img src="/images/like_blue.svg" alt="" /> by <br />
          <strong>ASHISH CHAKRAVARTI</strong>
        </p>
        <p class="">&copy 2023 Peeps Enterprises, Inc.</p>
        <div class=""></div>
      </div>
    </div>
  </div>
  <div class="feedBox-content">
    <div class="uploadDiv">
      <span
        ><p>Upload Picture</p>
        <i class="fs-3 mb-3 ri-close-circle-line closeUpload"></i
      ></span>
      <form action="/savePost" method="post" enctype="multipart/form-data">
        <i class="ri-upload-cloud-fill fs-1"></i>
        <input class="form-control" type="file" name="media" />
        <input
          class="form-control mt-3"
          type="text"
          name="caption"
          placeholder="Caption"
        />
        <button class="">Upload</button>
      </form>
    </div>
    <div class="feedBox-content-left">
      <% if(allPost.length>0){ %> <% allPost.forEach((post) => { %>
      <div class="postBox">
        <div class="post-top">
          <img src="/images/userImages/<%= post.user.avatar %>" alt="image" />
          <span class="d-flex justify-content-between">
            <h6>
              <a
                class="text-decoration-none text-dark"
                href="/feedProfile/<%= post.user._id %>"
                ><%= post.user.username %></a
              ><br />
              <span class="text-secondary"
                ><%= post.createdAt.toLocaleDateString() %></span
              >
            </h6>
          </span>
        </div>

        <!-- post option -->

 <div class="postOptionDiv">
   <h6>Options</h6>
    <h6 class="text-dark"><a class="text-decoration-none text-dark" href="/feedProfile/<%= post.user._id %>">See Profile</a></h5>
      <% if (post.user.username  === user.username) { %>
        <h6 class="text-danger"><a class="text-danger text-decoration-none" href="/deletePost/<%= post._id %>">Delete</a></h5>
    <% } %>
    <h6 class="text-dark postOptionDiv-cancel-btn">Cancel</h6>

  </div>



        <!-- post option -->
        <div class="post-imgBox">
         <a href="/postView/<%=post._id%>"> <img src="/images/posts/<%= post.media %>" alt="" /></a>
        </div>
        <!-- Inside a loop for each post -->
        <div id="likecommentlogo" class="">
          <div class="ps-3 gap-2  d-flex align-items-center">
            <% if(post.likes.indexOf(user.id) === -1){ %>
            <form
              style="display: initial"
              id="like-form-<%= post._id %>"
              method="post"
            >
              <svg
                id="like"
                data-id="<%= post._id %>"
                aria-label="Like"
                class="x1lliihq x1n2onr6"
                color="rgb(245, 245, 245)"
                fill="rgb(245, 245, 245)"
                height="30"
                role="img"
                viewBox="0 0 24 24"
                width="30"
              >
                <title>Like</title>
                <path
                  d="M16.792 3.904A4.989 4.989 0 0 1 21.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 0 1 4.708-5.218 4.21 4.21 0 0 1 3.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 0 1 3.679-1.938m0-2a6.04 6.04 0 0 0-4.797 2.127 6.052 6.052 0 0 0-4.787-2.127A6.985 6.985 0 0 0 .5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 0 0 3.518 3.018 2 2 0 0 0 2.174 0 45.263 45.263 0 0 0 3.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 0 0-6.708-7.218Z"
                ></path>
              </svg>
            </form>
            <form
              style="display: none"
              id="unlike-form-<%= post._id %>"
              method="post"
            >
            <svg  id="unlike"
                data-id="<%= post._id %>"   id="unlike"
                data-id="<%= post._id %>"
                aria-label="Unlike"
                class="x1lliihq x1n2onr6"
                color="rgb(255, 48, 64)"
                fill="rgb(255, 48, 64)"
                height="30"
                role="img"
                viewBox="0 0 24 24"
                width="30" xmlns="http://www.w3.org/2000/svg">
   <path filter="url(#shadow)" fill="#4edcd8" d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z" />
   <filter id='shadow'>
     <feOffset result="offOut" in="SourceGraphic" dx="0" dy="0" />
     <feGaussianBlur result="blurOut" in="offOut" stdDeviation="1.25" />
     <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
	</filter>
</svg>
            </form>

            <% }else{ %>
            <form
              style="display: initial"
              id="unlike-form-<%= post._id %>"
              method="post"
            >
           <svg  id="unlike"
                data-id="<%= post._id %>"   id="unlike"
                data-id="<%= post._id %>"
                aria-label="Unlike"
                class="x1lliihq x1n2onr6"
                color="rgb(255, 48, 64)"
                fill="rgb(255, 48, 64)"
                height="30"
                role="img"
                viewBox="0 0 24 24"
                width="30" xmlns="http://www.w3.org/2000/svg">
   <path filter="url(#shadow)" fill="#4edcd8" d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z" />
   <filter id='shadow'>
     <feOffset result="offOut" in="SourceGraphic" dx="0" dy="0" />
     <feGaussianBlur result="blurOut" in="offOut" stdDeviation="1.25" />
     <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
	</filter>
</svg>
            </form>
            <form
              style="display: none"
              id="like-form-<%= post._id %>"
              method="post"
            >
              <svg
                id="like"
                data-id="<%= post._id %>"
                aria-label="Like"
                class="x1lliihq x1n2onr6"
                color="rgb(245, 245, 245)"
                fill="rgb(245, 245, 245)"
                height="30"
                role="img"
                viewBox="0 0 24 24"
                width="30"
              >
                <title>Like</title>
                <path
                  d="M16.792 3.904A4.989 4.989 0 0 1 21.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 0 1 4.708-5.218 4.21 4.21 0 0 1 3.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 0 1 3.679-1.938m0-2a6.04 6.04 0 0 0-4.797 2.127 6.052 6.052 0 0 0-4.787-2.127A6.985 6.985 0 0 0 .5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 0 0 3.518 3.018 2 2 0 0 0 2.174 0 45.263 45.263 0 0 0 3.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 0 0-6.708-7.218Z"
                ></path>
              </svg>
            </form>
            <% } %>
            <span class=""
              ><a
                class="text-decoration-none text-dark"
                href="/postView/<%=post._id%>"
                ><i class="commentLogo ri-chat-3-line fs-3"></i></a
            ></span>
          </div>
        </div>
        <div class="d-flex">
          <div
            class="alllikes"
            data-id="<%= post._id %>"
            style="
              font-weight: 600;
              margin-bottom: 5px;
              cursor: pointer;
              margin-left: 15px;
            "
            id="count-<%= post._id %>"
          >
            <%= post.likes.length %> likes
          </div>
          <div
            class="alllikes"
            data-id="<%= post._id %>"
            style="
              font-weight: 600;
              margin-bottom: 5px;
              cursor: pointer;
              margin-left: 10px;
            "
          >
            <%=post.comments.length%> comment
          </div>
        </div>

        <!-- End of loop -->

        <p  class="mb-1 postCaption">
          <span><strong><%= post.user.username %></strong></span> &nbsp; <%=
          post.caption %>
        </p>
        <form class= "mb-5" action="/addComment/<%=post.id  %>" method="post">
          <textarea
            class=" postCommentTextArea"
            rows="1"
            placeholder="Add a comment..."
            name="comment"
          ></textarea
          ><button>Post</button>
        </form>
      </div>
      <% }); %> <% }else{ %>
      <div class="postBox h-100 mt-5 w-50 p-5">
        <p class="m-5 text-secondary">
          <img
            class="ms-2"
            width="32"
            height="32"
            src="/images/icons8-cat-footprint-64 (1).png"
            alt="cat-footprint"
          />
          &nbsp; &nbsp; &nbsp; Oops!!! There's no post
        </p>
      </div>
      <% } %>
    </div>
    <div class="feedBox-content-right">
      <div class="userInfoDiv">
        <div class="userInfoDiv-left">
          <img src="/images/userImages/<%=user.avatar%>" alt="" />
        </div>
        <div class="userInfoDiv-right">
          <div class="userInfoDiv-right-top d-flex">
            <span>
              <h5><%=user.name%></h5>
              <h6><%=user.username%></h6>
            </span>
            <!-- <div class="postNumber ms-4">
              <h5>Posts</h5>
              <h6><%#= user.posts.length %></h6>
            </div> -->
          </div>
          <div class="userInfoDiv-right-bottom pt-3">
            <p><%=user.bio%></p>
            <span><button><a href="/profile">Profile</a></button>
            <button class="ms-3"><a href="/editProfile">Edit</a></button></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
  document.querySelectorAll("#like").forEach(function (like) {
    like.addEventListener("click", function () {
      let postId = like.getAttribute("data-id");

      $(`#like-form-${postId}`).submit(function (event) {
        event.preventDefault();
      });
      $.ajax({
        url: "/like",
        type: "POST",
        data: { postId: postId },
        success: function (data) {
          document.querySelector(
            `#count-${postId}`
          ).textContent = `${data.likes} likes`;
          $(`.like-container-${postId}`).append(`<div id="like-details">
                                            <div id="like-user-image">
                                                <img onerror="this.style.display = 'none'" src="/image/<%= user.avatar %>" alt="">
                                            </div>
                                            <h4 style="font-weight: 500;"><%= user.username %></h4>
                                        </div>`);
        },
      });
      document.querySelector(`#like-form-${postId}`).style.display = "none";
      document.querySelector(`#unlike-form-${postId}`).style.display =
        "initial";
    });
  });

  //unlike form
  document.querySelectorAll("#unlike").forEach(function (unlike) {
    unlike.addEventListener("click", function () {
      let postId = unlike.getAttribute("data-id");
      $(`#like-form-${postId}`).submit(function (event) {
        event.preventDefault();
      });
      $.ajax({
        url: "/unlike",
        type: "POST",
        data: { postId: postId },
        success: function (data) {
          document.querySelector(
            `#count-${postId}`
          ).textContent = `${data.likes} likes`;
        },
      });
      document.querySelector(`#unlike-form-${postId}`).style.display = "none";
      document.querySelector(`#like-form-${postId}`).style.display = "initial";
    });
  });

  // all likes
  document.querySelectorAll(".alllikes").forEach(function (alllikes) {
    var id = alllikes.getAttribute("data-id");
    alllikes.addEventListener("click", function () {
      console.log(id);
      document.querySelector(`.likeoverlay-${id}`).style.display = "flex";
    });
    document
      .querySelector(`#likeclose-${id}`)
      .addEventListener("click", function () {
        document.querySelector(`.likeoverlay-${id}`).style.display = "none";
      });
  });
</script>
<%- include("./partials/footer") %>
