<%- include("./partials/header") %> <%- include("./partials/nav") %>

<div class="profileContainer">
  <div class="feedSideBar">
    <div class="d-flex flex-column justify-content-around ps-4 pt-4 pb-4">
      <a href="/home"><img src="/images/homeIcon.svg" alt="" />&nbsp; Home</a>
      <a href="/profile"><i class="ri-bear-smile-line"></i> &nbsp; Profile</a>
      <a href=""><i class="ri-settings-line"></i> &nbsp; Setting</a>
    </div>
    <div>
      <span class="createPost"
        ><i class="ri-gallery-upload-fill"></i>&nbsp; Upload</span
      >
    </div>
    <div class="sideOptions-Div3">
      <h6 class="ms-4 mt-2">
        <a class="text-decoration-none text-dark" href="/signout">Log Out</a>
      </h6>
      <div class="">
        <i class="ms-4 mt-1 ri-google-play-line"></i
        ><i class="ms-2 mt-1 ri-apple-fill"></i>
      </div>
      <div class="sideCardFooter ps-4">
        <ul class="d-flex gap-3 list-unstyled">
          <li>Terms</li>
          <li>Privacy</li>
          <li>FAQ</li>
        </ul>
        <p class="">
          Made with <img src="/images/like_blue.svg" alt="" /> by <br />
          <strong>ASHISH CHAKRAVARTI</strong>
        </p>
        <p class="">&copy 2023 Peeps Enterprises, Inc.</p>
        <div class=""></div>
      </div>
    </div>
  </div>
  <div class="uploadDiv">
    <span
      ><p>Upload Picture</p>
      <i class="fs-3 mb-3 ri-close-circle-line closeUpload"></i
    ></span>
    <form action="/savePost" method="post" enctype="multipart/form-data">
      <i class="ri-upload-cloud-fill fs-1"></i>
      <input class="form-control" type="file" name="media" />
      <input
        class="form-control mt-3"
        type="text"
        name="caption"
        placeholder="Caption"
      />
      <button class="">Upload</button>
    </form>
  </div>
  <div class="userProfile">
    <div class="userProfile-top">
      <img src="/images/userImages/<%= user.avatar %>" />
    </div>
    <div class="userProfile-bottom">
      <div class="userProfileSameProperty-Div">
        <h3><%=user.name%></h3>
        <button>
          <a class="text-decoration-none text-dark" href="/editProfile"
            >Edit Profile</a
          >
        </button>
      </div>
      <div class="userProfileSameProperty-Div">
        <h6 class="text-secondary"><%=user.username%></h6>
      </div>
      <div class="userProfileSameProperty-Div">
        <h6>
          &bull;<span class="text-info-emphasis"><%= posts.length %></span>
          Posts
        </h6>
        <h6>&bull;<span class="text-info-emphasis"><%=totalCommentCount%></span> Likes</h6>
        <h6>&bull;<span class="text-info-emphasis"><%=totalLikesCount%></span> Comments</h6>
      </div>
      <div class="bio-Profile-Div">
        <p><%=user.bio%></p>
      </div>
    </div>
  </div>
  <div class="AllPosts">
    <h3><i class="text-info ri-grid-fill"></i> Your Posts</h3>
     <% if(posts.length >0){ %>
    <% posts.forEach((post) => { %>
    <a href="/postView/<%=post._id  %>">
      <div>
        <img src="/images/posts/<%= post.media %>" alt="" /></div
    ></a>

    <% })}else{ %>
      <div class="ms-5 h-100 mt-5 w-100 p-5">
        <p class="m-5 text-secondary ps-5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <img
            class="ms-5"
            width="32"
            height="32"
            src="/images/icons8-cat-footprint-64 (1).png"
            alt="cat-footprint"
          />
          &nbsp; &nbsp; Oops!!! There's no post
        </p>
      </div>
      <% } %>
  </div>

  <div></div>
</div>

<%- include("./partials/footer") %>
